<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ asset('node_modules/bootstrap/dist/css/bootstrap.css')}}"/>
    <title>Titre de la page</title>
</head>
<body>  

{% for message in app.flashes('success') %}

    <div class="alert alert-success" role="alert">
        {{message}}
    </div>

{% endfor %}
{% for message in app.flashes('info') %}

    <div class="alert alert-info" role="alert">
        {{message}}
    </div>

{% endfor %}
{% for message in app.flashes('error') %}

    <div class="alert alert-danger" role="alert">
        {{message}}
    </div>

{% endfor %}

<h1>Liste des todos</h1>

<ol class="list-group">
{% for name,val in app.session.get('todos')%}
 <li class="list-group-item">{{name}} : {{val}}</li>
{% endfor %}
</ol>
    
</body>
</html>
